{% extends 'store/main.html' %}
{% load static %}

{% block content %}
<h2>Cart</h2>
<div class="row">
    <div class="col-lg-12">
        <div class="box-element">

            <a class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190; Continue Shopping</a>
            <br>
            <br>
            <table class="table">
                <tr>
                    <th><h5>Items: <b>3</b></h5></th>
                    <th><h5>Total: <b>$42</b></h5></th>
                    <th>
                        <a style="float:right; margin:5px;" class="btn btn-success" href="{% url 'checkout' %}">Checkout</a>
                    </th>
                </tr>
            </table>
        </div>
        <br>
        <div class="box-element">
            <div class="cart-row">
                <div style="flex:2"></div>
                <div style="flex:2"> <b>Item</b> </div>
                <div style="flex:1"> <b>Price</b> </div>
                <div style="flex:1"> <b>Quantity</b> </div>
                <div style="flex:1"> <b>Total</b> </div>
            </div>

            <div class="cart-row">
                <div style="flex:2"><img class="img-fluid row-image" src="{% static 'images/sample.png' %}"></div>
                <div style="flex:2"><p>Product 1</p></div>
                <div style="flex:1"><p>$20</p></div>
                <div style="flex:1">
                    <p class="quantity">2</p>
                    <div class="quantity">
                        <i class="fas fa-chevron-up"></i>
                
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </div>
                <div style="flex:1"><p>$32</p></div>
            </div>

        </div>
    </div>
</div>
{% endblock content %}