{% extends 'store/main.html' %} {% load static %} {% block content %}
<h2>Store</h2>
<div class="row">
  {% for product in products %}
  <div class="col-sm-4 p-2">
    <img
      class="thumbnail img-fluid"
      src="{{product.imageURL}}"
      alt="product-image"
    />
    <div class="box-element product p-3 shadow-box">
      <h6><b>{{product.name}}</b></h6>
      <hr />
      <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn add-to-cart">Add to Cart</button>
      <a href="#" class="btn btn-outline-success">View</a>
      <h4 style="display: inline-block; float: right">
        <b>${{product.price}}</b>
      </h4>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}
